.side-left-bar
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0,0,0,0.2);
    font-family: "Pacifico", serif;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
}
.side-left-bar img
{
    width: 20px;
    filter: invert(29%) sepia(10%) saturate(1138%) hue-rotate(349deg) brightness(98%) contrast(90%);
}
.side-left-bar ul
{
    list-style-type: none;
}
.side-left-bar li
{
    width: 100%;
}
.side-left-bar a
{
    color: #5e4e3e;
    width: 100%;
    text-decoration: none;
}
@media (max-width:800px){
    .home
    {
        height: 100dvh;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }
    .home h1
    {
        font-size: 3em;
        left: 0;
    }
    .home p
    {
        margin-top:45dvh;
        font-size: 1em;
        width: 100%;
    }
    .home ul
    {
        left: 0;
    }
    .home li
    {
        margin-left: 5px;
    }
    .hideonphone
    {
        display: none;
    }
    .aboutme
    {
        height: 180dvh;
    }
    .aboutme .title-bar
    {
        margin-top: 1dvh;
        position: absolute;
    }
    .aboutme .content
    {
        margin-top: 5dvh;
        position: absolute;
        font-size: 1rem;
    }
}

@media (max-width:320px)
{
    .home h1
    {
        font-size: 2.5rem;
    }
    .aboutme .content
    {
        margin-top: 5dvh;
        position: absolute;
        font-size: 0.9rem;
    }
}

@media (max-height:550px)
{
    .aboutme
    {
        height: 200dvh;
    }
    .aboutme .content
    {
        margin-top: 8dvh;
        position: absolute;
        font-size: 0.8rem;
    }
}