@import "https://unpkg.com/open-props/easings.min.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+TC:wght@100&family=Pacifico&display=swap');

html
{
    scroll-behavior: smooth;
}
body
{
    height: 100vh * 3;
    margin: 0;
    background-attachment: fixed;
    background-image: url(/public/main_bg.png);
    background-position: center;
    display: flex;
    justify-content: center;
    background-size: cover;
}
.left-side-nav 
{
    left: 0;
    top: 30dvh;
    position: fixed;
    display: flex;
    font-family: "Pacifico", serif;
    font-size: 20px;
    z-index: 2;
}
.left-side-nav ul 
{
    list-style: disc ;
    --arc: 5deg;
  
    @media (hover) and (prefers-reduced-motion: no-preference) {
      &:has(li:nth-child(1):hover) {--target: 1}
      &:has(li:nth-child(2):hover) {--target: 2}
      &:has(li:nth-child(3):hover) {--target: 3}
      &:has(li:nth-child(4):hover) {--target: 4}
  
      & > li {
        transform-origin: -200% 50%;
        transition: transform 2s var(--ease-spring-5), opacity 0.3s var(--ease-3);
      }
  
      &:hover > li:not(:hover) {
        --distance-from-target: abs(var(--sibling-index) - var(--target));
        --distance-multiplier: var(--distance-from-target) * 15%; /* change 15% */
        --gradual-fadeout: calc(100% - var(--distance-multiplier));
        opacity: var(--gradual-fadeout);
  
        --angle: calc((var(--sibling-index) - var(--target)) * var(--arc));
        transform: rotateZ(var(--angle));
      }
    }
}
.left-side-nav li
{
    padding-top: 30px;
}
.left-side-nav li::marker
{
    color: #5e4e3e;
}
.left-side-nav a
{
    background-color: #5e4e3e;
    padding: 10px;  
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

.left-side-nav a img
{
    width: 1em;
    margin-left: 5px;
    margin-right: 10px;
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(75deg) brightness(110%) contrast(100%);
}

.home, .aboutme, .portal
{
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.home
{
    background-image: url(/public/home.webp);
}
.home h1
{
    margin-top: 30vh;
    position: absolute;
}

.home p
{
    color: white;
    font-size: 20px;
    margin-top: 45vh;
    margin-left: 20px;
}

.home ul
{
    margin-top: 53vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.home li
{
    margin-left: 30px;
}
.home img
{
    width: 3.6em;
    transition: transform .2s;
}
.home img:hover
{
    transform: scale(1.5);
}
.portal
{
    position: relative;
}
.portal .bottom
{
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(245, 222, 179, 0.459);
    font-family: Georgia, serif;
    color: white;
}
.aboutme
{
    background-color: wheat;
    position: relative;
    display: flex;
}
.aboutme .title-bar
{
    margin-top: 20px;
    width: 100%;
    position: absolute;
}
.aboutme .title-bar h1
{
    font-size: 3em;
    color: #6b5642;
    text-align: center;
}
.aboutme .content
{
    top: 110;
    text-align: center;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutme .content p
{
    width: 50vw;
    text-align: left;
    position: relative;
}