.side-left-bar
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0,0,0,0.2);
    font-family: "Pacifico", serif;
    font-size: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
}
.side-left-bar img
{
    width: 20px;
    filter: invert(29%) sepia(10%) saturate(1138%) hue-rotate(349deg) brightness(98%) contrast(90%);
}
.side-left-bar ul
{
    list-style-type: none;
}
.side-left-bar li
{
    width: 100%;
}
.side-left-bar a
{
    color: #5e4e3e;
    width: 100%;
    text-decoration: none;
}
@media (max-width:800px){
    body
    {
        height: 100vh * 3;
        margin: 0;
        background-image: url(/public/main_bg.png);
        background-position: center;
        display: flex;
        justify-content: center;
        background-size: cover;
    }
    .home
    {
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
    }
    .home h1
    {
        font-size: 3em;
        left: 0;
    }
    .home p
    {
        margin-top:45vh;
        font-size: 1em;
        width: 100%;
    }
    .home ul
    {
        left: 0;
    }
    .home li
    {
        margin-left: 5px;
    }
    .hideonphone
    {
        display: none;
    }
    .aboutme
    {
        height: 180vh;
    }
    .aboutme .title-bar
    {
        margin-top: 1vh;
        position: absolute;
    }
    .aboutme .content
    {
        margin-top: 5vh;
        position: absolute;
        font-size: 1rem;
    }
    .portal .content
    {

    }
    .portal .content ul
    {
        margin-top: 7em;
    }
    .portal .content li
    {
        margin-top: 1em;
    }
    .portal .content h1
    {
        top: 20px;
        position: absolute;
        text-decoration: underline;
    }
    .loader {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index:3;
        border: 4px solid wheat;
        top: 45%;
        left: 48%;
        animation: loader 2s infinite ease;
    }
}

@media (max-width:320px)
{
    .home h1
    {
        font-size: 2.5rem;
    }
    .aboutme .content
    {
        margin-top: 5vh;
        position: absolute;
        font-size: 0.9rem;
    }
}

